[Unit]
Description=Periodic static BM talkgroup guard

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=bm-static-guard.service

[Install]
WantedBy=timers.target
