[Unit]
Description=DVM Bridge P25 to DMR
After=network-online.target dvmfne.service
Wants=network-online.target
Requires=dvmfne.service
PartOf=dvmfne.service

[Service]
Type=simple
User=quantar
WorkingDirectory=/home/quantar/quantar-runtime
ExecStart=/home/quantar/src/dvmhost/build/dvmbridge -c /home/quantar/quantar-runtime/dvmbridge-p25-to-dmr.yml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
